<h1><%= @user.name %></h1>
<ul>
  <% @user.positions.each do |position| %>
    <li><%= position.name %></li>
  <% end %>
</ul>
<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar.variant(resize: "150x150"), class: 'rounded-circle' %>
<% else %>
  <%= image_tag 'https://pics.prcm.jp/638bee63bc5e4/72592090/png/72592090_220x220.png', width: '150', height: '150', class: 'rounded-circle' %>
<% end %>