<!-- key visual -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Beb!</h1>
    <p class="lead text-muted mt-2">「バスケがしたいです！！！」<br>を叶えるバスケチームを探すサービス</p>
    <p>
      <a href="#" class="btn btn-primary btn-lg my-2">事前登録</a>
    </p>
  </div>
</section>
<!-- what is this service -->
<section class="text-center">
  <div class="container">
    <p class="lead text-muted">
      Beb！はバスケットがしたくてたまらない。バスケチームに入りたい・作りたい人。練習相手・対戦チームを探したいチームのためのマッチングサービスです。
    </p>
  </div>
</section>
<!-- points -->
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h3>条件にあったチームが見つかる！</h3>
        <p>マッチしたバスケチームが見つからない</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h3>気軽に試合を申し込める！</h3>
        <p>チーム作成・参加でバスケの試合を申し込める</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h3>スポットで練習に参加できる！</h3>
        <p>メンバーが足りていない練習にスポットで参加できる</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
</section>
<!-- pre regist -->
<section>
</section>
